/* Footer */
.logo {
  font-weight: bolder;
}

.collab-projects {
  color: green;
  font-weight: lighter;
}

.footer-container {
  margin: 0 230px;
}

.footer-link:before {
  content: '|  ';
}

.footer-link-first:before {
  content: '';
}

.footer-list-elmt {
  padding: 0 4px;
}

.footer-ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  float: right;
}

.footer-link:hover, .footer-endnote-link:hover {
  text-decoration: underline;
  color: #ccc;
}

.footer-link, .footer-endnote-link {
  color: #ccc;
  font-size: 13px;
}

.footer-links {
  grid-area: 'links';
}

.footer-logo {
  grid-area: 'logo'
}

.footer-p {
  font-size: 12px;
  color: #fff;
}

.link-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "logo links"
}

.footer {
  background-color: #333333;
  color: white;
  margin-top: 25px;
}


/* Navbar */
.brand {
  margin-top: -30px;
  margin-bottom: -28px;
}

.nav-item-foundation {
  background-color: green;
}

.nav-container {
  padding-bottom: 8px;
}

.nav-item-last {
  height: 40px;
  margin-bottom: -16px;
}

.nav-item:before {
  content: '|';
  font-size: 16px;
  color: #999;
}

.nav-item-first:before, .nav-item-last:before {
  content: '';
  color: #999;
}

.navbar-link {
  color: #ccc;
  text-decoration: none;
  padding: 0 8px;
  font-family: "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.nav-item {
  color: #ccc;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
}

.navbar {
  background-color: #333333;
  display: flex;
  flex-direction: column;
}


/* Main */
.recommendation, .latest {
  font-size: 16px;
  color: white;
}

.home-link {
  color: green;
}

.download-header {
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
}

.secondary-link:before {
  content: '|';
}

.secondary-link-first:before {
  content: '';
}

.secondary-link:hover {
  text-decoration: underline;
  color: #51744e;
}

.secondary-link {
  display: flex;
  text-decoration: none;
  font-size: 14px;
  color: #51744e;
}

.list-elmt {
  text-decoration: none;
}

.home-intro {
  text-align: center;
}

.home-p {
  margin-top: 20px;
  font-size: 18px;
}

.home-downloadbutton {
  color: white;
  font-size: 30px;
}

.home-secondary-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

.downloadblock-links {
  grid-area: 'links';
  display: inline-block;
  text-align: center;
}

.downloadblock-header {
  grid-area: 'header';
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  background-color: #026e00;
}

.home-downloadblock {
  margin: 0 14px;
  width: 250px;
  max-width: 250px;
  height: 100px;
  max-height: 100px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "header"
    "links"
}

.downloadblocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banner-text {
  color: green;
  font-size: 26px;
}

.home-banner {
  background-color: #eaf5e9;
  text-align: center;
  padding: 5px 0;
}

.blurb {
  font-family: "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}

.home-intro {
  max-width: 735px;
  margin-left: 122.5px;
  margin-right: 122.5px;
  padding: 30px 0;
}

.container {
  display: block;
  width: 1020px;
  max-width: 1020px;
}
