.embedded-link {
  color: green;
  text-decoration: none;
  font-family: "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
}

.home-banner {
  background-color: #9fd891;
}

#main p {
  font-size: 20px;
}


/* ////////////////////////////////////////////////////////////////////////// */

.brand {
  margin-top: -30px;
  margin-bottom: -28px;
}

.nav-container {
  padding-bottom: 8px;
}

.nav-item:before {
  content: '|';
  font-size: 16px;
  /* padding: 0 .3em 0 .1em; */
  color: #999;
}

.nav-item-first:before {
  content: '';
  /* padding: 0 .3em 0 .1em; */
  color: #999;
}

.navbar-link {
  color: #ccc;
  text-decoration: none;
  padding: 0 8px;
  font-family: "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.nav-item {
  color: #ccc;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
}

.navbar {
  background-color: #333333;
  display: flex;
  flex-direction: column;
}
